// Colors
$red: red;

// Font Size
$font-size-base: 1rem;
$font-size-xsmaller: $font-size-base * 0.5;
$font-size-xsmall: $font-size-base * 0.625;
$font-size-smaller: $font-size-base * 0.75;
$font-size-small: $font-size-base * 0.875;
$font-size-normal: $font-size-base * 1;
$font-size-large: $font-size-base * 1.125;
$font-size-larger: $font-size-base * 1.25;
$font-size-xlarge: $font-size-base * 1.375;
$font-size-xlarger: $font-size-base * 1.5;
